.distributionHandle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1rem;
  padding: 0;
  border: none;
  background: transparent;
  transform: translateX(-50%);
  cursor: ew-resize;
  touch-action: none;
}

.distributionHandle::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 0 1px var(--black-a4);
}

.distributionHandle:focus-visible {
  outline: none;
}

.distributionHandle:focus-visible::after {
  box-shadow:
    0 0 0 1px var(--black-a4),
    0 0 0 3px var(--accent-3),
    0 0 0 5px var(--focus-8);
}
