.card.card {
  display: flex;
  flex-direction: column;
}

.form {
  flex: 1;
}

.generateButton.generateButton {
  margin-top: auto;
}

.title {
  color: var(--accent-9);
}

.value {
  color: var(--accent-9);
}

.seedInput {
  flex-grow: 1;

  input {
    font-family: var(--code-font-family);
  }
}
