.tabsList {
  width: 100%;
  overflow-x: auto;
}

.tabTrigger {
  flex: 1 0 auto;
}

.mapArea {
  min-width: 0;
}

.canvasArea {
  min-width: 0;
  flex: 1 1 auto;
}

@include mobile {
  .mapArea {
    flex-direction: column;
  }
}
