.header {
  width: 100%;
  background-color: var(--gray-2);
  border-bottom: 1px solid var(--gray-6);
}

.headerContent {
  height: 48px;
}

.title {
  background: linear-gradient(135deg, #64ffda 0%, #00bfa5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
