.timeline {
  display: flex;
  overflow: hidden;
  height: 18px;
  border-radius: 999px;
  background: var(--gray-a4);
}

.timelineSegment {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timelineSegment[data-index='0'],
.timelineDot[data-index='0'] {
  background: var(--violet-9);
}

.timelineSegment[data-index='1'],
.timelineDot[data-index='1'] {
  background: var(--cyan-9);
}

.timelineSegment[data-index='2'],
.timelineDot[data-index='2'] {
  background: var(--amber-9);
}

.timelineSegment[data-index='3'],
.timelineDot[data-index='3'] {
  background: var(--green-9);
}

.timelineSegment[data-muted='true'],
.timelineDot[data-muted='true'] {
  background: var(--gray-a7);
}

.timelineDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.timelineLabel {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-shadow: 0 0 2px rgb(0 0 0 / 60%);
}
