.root {
  width: 100%;
}

.content {
  width: 100%;
  max-width: $layout-max-width;
  margin: 0 auto;
  padding-inline: 1rem;

  @media (min-width: $breakpoint-sm) {
    padding-inline: 2rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding-inline: 3rem;
  }
}

.root[data-background='default'] {
  background-color: var(--gray-1);
}

.root[data-background='subtle'] {
  background-color: var(--gray-2);
}

.root[data-border='top'] {
  border-top: 1px solid var(--gray-6);
}

.root[data-border='bottom'] {
  border-bottom: 1px solid var(--gray-6);
}

.root[data-border='both'] {
  border-block: 1px solid var(--gray-6);
}

.root[data-pt='small'] .content {
  padding-top: 0.75rem;
}

.root[data-pt='medium'] .content {
  padding-top: 1rem;
}

.root[data-pt='large'] .content {
  padding-top: 1.5rem;
}

.root[data-pb='small'] .content {
  padding-bottom: 0.75rem;
}

.root[data-pb='medium'] .content {
  padding-bottom: 1rem;
}

.root[data-pb='large'] .content {
  padding-bottom: 1.5rem;
}

@media (min-width: $breakpoint-sm) {
  .root[data-pt='small'] .content {
    padding-top: 1rem;
  }

  .root[data-pt='medium'] .content {
    padding-top: 1.5rem;
  }

  .root[data-pt='large'] .content {
    padding-top: 2rem;
  }

  .root[data-pb='small'] .content {
    padding-bottom: 1rem;
  }

  .root[data-pb='medium'] .content {
    padding-bottom: 1.5rem;
  }

  .root[data-pb='large'] .content {
    padding-bottom: 2rem;
  }
}
