.container {
  display: flex;
  background: var(--gray-2);
  padding: 30px;
  border-radius: var(--radius-4);
  width: 100%;
  gap: 30px;
  justify-content: space-between;

  @include mobile {
    flex-direction: column-reverse;
    padding: 15px;
    gap: 20px;
  }
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 2px solid var(--gray-6);
  border-radius: 50%;
  background: $color-ocean;
  max-width: 100%;
  height: auto;

  @include mobile {
    width: 100%;
  }
}
