.card.card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}

.title {
  color: var(--accent-9);
}

.canvas {
  border: 2px solid var(--gray-6);
  border-radius: 50%;
  background: $color-ocean;
  max-width: 100%;
  height: auto;

  @include mobile {
    width: 100%;
  }
}
