.container {
  display: flex;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
  gap: 30px;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 2px solid #333;
  border-radius: 50%;
  background: #092560;
}
