.tabsList {
  width: 100%;
  overflow-x: auto;
}

.tabTrigger {
  flex: 1 0 auto;
}

.overlays {
  flex: 0 0 10rem;
  padding: var(--space-3);
  border-left: 1px solid var(--gray-6);
}

.mapArea {
  min-width: 0;
}

.canvasArea {
  min-width: 0;
  flex: 1 1 auto;
}

@include mobile {
  .mapArea {
    flex-direction: column;
  }

  .overlays {
    flex: 0 0 auto;
    order: -1;
    border-left: 0;
    border-bottom: 1px solid var(--gray-6);
  }
}
